/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Reset==========*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
:root {

  --color-bg: hsl(233, 87%, 6%);
  --color-primary: hsl(345, 99%, 62%);
  --color-text: hsl(0, 0%, 99%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);
  --color-transparent: hsla(0, 0%, 0%, 0);
  --color-blue: hsl(208, 100%, 50%);
  --color-light-blue: hsl(217, 80%, 80%);
  --color-light-green: hsl(174, 100%, 50%);
  --color-purple: hsl(273, 86%, 51%);
  --color-border: hsla(0, 0%, 100%, 0.102);
  --color-gradient: linear-gradient(90deg, hsl(146, 100%, 57%), hsl(198, 100%, 56%), hsl(250, 100%, 60%));
  --color-gradient-1: linear-gradient(80deg, hsl(217, 80%, 80%) 10%, hsl(217, 85%, 78%) 40%);
  --color-gradient-scrollbar: linear-gradient(to top, var(--color-blue), var(--color-light-blue));

  --shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
  --shadow-1: 0px 10px 50px rgba(0, 0, 0, 0.048);
  --shadow-2: -20px 15px 5px hsla(0, 0%, 0%, 0.5);
  --shadow-3: -20px 15px 5px hsla(0, 0%, 0%, 0.212);
  --shadow-lines: hsla(233, 87%, 6%, 0) 0px 0px 0px 2px inset, hsl(325, 92%, 90%) 10px -10px 0px -3px, hsl(234, 88%, 6%) 10px -10px, hsl(325, 92%, 90%) 20px -20px 0px -3px, hsl(234, 88%, 6%) 20px -20px, hsl(325, 92%, 90%) 30px -30px 0px -3px, hsl(234, 88%, 6%) 30px -30px, hsl(325, 92%, 90%) 40px -40px 0px -3px, hsl(234, 88%, 6%) 40px -40px;

  --font-size: .9rem;
  --line-height: 1.6;

  --transition: all 400ms ease-in-out;

  --container-lg: 80%;
  --container-md: 90%;
  --container-max-wd: 1920px;

}

/*==========Base==========*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}
body {
  background: var(--color-bg);
  color: var(--color-text);
  line-height: var(--line-height);
  font-size: var(--font-size);
}

/*==========General Styles==========*/
section {
  padding: 8rem 0;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: .9rem;
}
h6 {
  font-size: .8rem;
}
a {
  color: var(--color-text);
  transition: var(--transition);
}
img {
  width: 100%;
  display: block;
}
.container {
  width: var(--container-lg);
  max-width: var(--container-max-wd);
  margin-inline: auto;
}
.main {
  overflow: hidden;
}
.title {
  color: var(--color-transparent);
  background: var(--color-gradient-scrollbar);
  background-clip: text;
  -webkit-background-clip: text;
}

/*==========General Btns==========*/
.btn {
  position: relative;
  display: inline-block;
  padding: .5rem 1rem;
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-2);
  overflow: hidden;
  transition: var(--transition);
}
.btn:hover {
  background: var(--color-black);
  box-shadow: none;
  transform: scale(1.1);
  transition-delay: 1s;
}
.btn small {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--color-transparent);
  background: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  animation: btnAnime 5s linear infinite;
}

@keyframes btnAnime {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(360deg);
  }

}

.btn span {
  position: absolute;
  display: block;
}
.btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, var(--color-transparent), var(--color-blue));
}
.btn:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, var(--color-transparent), var(--color-blue));
}
.btn:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: .5s;
}
.btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, var(--color-transparent), var(--color-blue));
}
.btn:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: .25s;
}
.btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, var(--color-transparent), var(--color-blue));
}
.btn:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: .75s;
}


/*==========Scrollbar==========*/
::-webkit-scrollbar {
  width: 0;
}
.scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: .2rem;
  height: 100%;
  background: var(--color-bg);
  z-index: 999;
}
.progress-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: .2rem;
  border-radius: 0 0 1rem 1rem ;
  background: var(--color-gradient-scrollbar);
  z-index: 999;
  animation: animate-scrollbar 5s linear infinite;
}

@keyframes animate-scrollbar {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(360deg);
  }

}

.progress-scrollbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-gradient-scrollbar);
  filter: blur(10px);
}
.progress-scrollbar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-gradient-scrollbar);
  filter: blur(30px);
}


/*==========Media Query Mobile Scrollbar==========*/
@media (max-width: 768px) {
  .scrollbar, .progress-scrollbar {
    display: none;
  }

}


/*==========Scroll Up==========*/
.scroll__up {
  position: fixed;
  right: 1rem;
  bottom: -100%;
  width: 2rem;
  height: 2rem;
  border-radius: .2rem;
  background: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
  z-index: 998;
}
.scroll__up:hover {
  transform: translateY(-.25rem);
}
.scroll__up i {
  font-size: 2rem;
  color: var(--color-white);
}

/*==========JavaScript==========*/
.show-scroll {
  bottom: 1rem;
  opacity: 1;
  visibility: visible;
}



/*==========Media Query==========*/
@media (max-width: 992px) {
  html {
    scroll-padding-top: 1.5rem;
  }
  body {
    font-size: 1rem;
  }
  .container {
    width: var(--container-md);
  }
  section {
    padding: 6rem 0;
  }
  h1 {
    font-size: 2rem;
  }

}

/*==========Media Query Mobile==========*/
@media (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1rem;
  }

}


/*==========Header==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  transition: var(--transition);
  z-index: 999;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: .2rem;
  color: var(--color-transparent);
  background: var(--color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  animation: logoAnime 5s linear infinite;
}

@keyframes logoAnime {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(360deg);
  }

}

.logo__image {
  width: 1.5rem;
}
.logo__name {
  font-size: 1.5rem;
  font-weight: 500;
}
.navbar {
  display: flex;
  justify-content: center;
}
.navbar__item {
  position: relative;
}
.navabar__list {
  display: flex;
  gap: 3rem;
}
.navbar__item .navbar__link a {
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-text);
  transition: var(--transition);
}
.navbar__item .navbar__link a:hover {
  color: var(--color-blue);
}
.navbar__active {
  position: absolute;
  left: 0;
  bottom: -.5rem;
  width: 100%;
  height: 4px;
  background: var(--color-gradient);
  border-radius: .5rem;
}
.open__btn, .close__btn {
  display: none;
}

/*==========JavaScript==========*/
.scrolling-header {
  background: var(--color-bg);
}

/*==========Media Query Mobile Header==========*/
@media (max-width: 992px) {
  .open__btn, .close__btn {
    display: inline-block;
    font-size: 1.8rem;
    color: var(--color-transparent);
    background: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: var(--color-bg);
    padding: 1rem 2rem;
    transition: var(--transition);
  }
  .navabar__list {
    width: 100%;
    gap: 4rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 7rem 0 0;
  }

}


/*==========Hero==========*/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}
.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 18rem;
  height: 18rem;
  padding: 1rem;
  background: hsla(217, 80%, 80%, 0.133);
  box-shadow: 0 0 200px hsla(217, 80%, 80%, 0.363);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero__content h1 {
  position: relative;
  padding: 0;
  font-size: 6rem;
  font-weight: 200;
  margin: 0 auto;
  margin-block-start: -1.5rem;
  margin-block-end: .5rem;
  animation: hero 5s linear infinite;
}

@keyframes hero {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(360deg);
  }

}

.hero__content h3 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-light-green);
  text-shadow: var(--shadow);
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
  letter-spacing: 1px;
}


/*==========Home==========*/
.home__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home__title {
  font-size: 2rem;
  font-weight: 200;
  color: var(--color-white);
}
.home__title strong {
  font-size: 2.5rem;
  font-weight: 700;
  animation: homeText 5s linear infinite;
}

@keyframes homeText {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(360deg);
  }

}

.home__text {
  font-size: 1.5rem;
  line-height: 1;
  margin-block-end: 2rem;
  color: var(--color-transparent);
  background: var(--color-gradient-1);
  background-clip: text;
  -webkit-background-clip: text;
}
.home__image {
  width: 47%;
  filter: contrast(1.4);
}



/*==========Media Query Tablet Home==========*/
@media (max-width: 992px) {
  .home__image {
    width: 100%;
    margin-block-end: 1.5rem;
  }

}


/*==========Media Query Mobile Home==========*/
@media (max-width: 768px) {
  .home__title {
    font-size: 1.7rem;
  }
  .home__title strong {
    font-size: 1.9rem;
  }
  .home__text {
    font-size: 1.1rem;
    line-height: 1.5;
  }

}


/*==========CTA==========*/
.cta {
  overflow-x: hidden;
  padding: 3.5rem 0;
}
.cta__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cta__content p {
  width: 50%;
  text-align: center;
  margin-block-end: 2rem;
  color: var(--color-transparent);
  background: var(--color-gradient-1);
  background-clip: text;
  -webkit-background-clip: text;
}
.wrapper__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image__box {
  position: relative;
  width: 20%;
  margin: 0 10px;
  background: var(--color-gradient-1);
  overflow: hidden;
}
.image__overlay {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  background: var(--color-bg);
  z-index: 2;
}
.image__box img {
  filter: contrast(1.4);
}


/*==========Media Query Tablet CTA==========*/
@media (max-width: 992px) {
  .cta__content p {
    width: 100%;
  }
  .wrapper__image {
    flex-direction: column;
    gap: 2rem;
  }
  .image__box {
    width: 100%;
    background: none;
    border: 2px solid var(--color-light-blue);
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
  }
  .image__box:nth-child(1), .image__box:nth-child(3) {
    display: none;
  }
  .image__overlay {
    display: none;
  }

}


